.header{
  background: var(--blue-102-a-414-f, #2A414F);
  height: 80px;
  padding-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
}
.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1{
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.header img{
  margin-left: 2rem;
  margin-bottom: 10px;
}

nav a{
color: #FFF;
font-family: Lato;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.085px;
margin-left: 20px;
text-decoration: none;
}

/* responsive */
@media (max-width: 768px){
  .header{
    padding-bottom: 10px;
  }
  .header h1{
    font-size: 20px;
    width: 100px;
  }
.header-flex{
  flex-direction: column;

}
}